$base-color: #2B4570;
$contrast-color: #2C8C99;
$contrast-accent-color: #17555E;
$button-accent-color: #007991;
$button-warning-color: #931621;
$background-color: #FDFFFF;
$background-link-color: #A2AEBB;

//new color set
$dark-blue: #2B4570;
$blood-red: #931621;
$grey-blue: #2C8C99;
$grey: #A2AEBB;
$sky-blue: #3F88C5;
$white: #FDFFFF;
