$font-stack: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
$margin-mobile: 1%;
$margin-desktop: 2.5%;
$padding-mobile: 1%;
$padding-desktop: 2.5%;

@mixin border-bottom($size, $type, $color) {
	border-bottom: $size $type $color; 
}

