@import 'media';
@import 'colours';
@import 'constants';

body, html {
	font-family: $font-stack;
	width: 100%;
	height: 100%;
	margin: 0;

	font-weight: 400;
	font-style: normal;
	font-size: 21px;
	line-height: 1.58;
	letter-spacing: -.003em;

	@include mobile-only {
		font-size: 18px;
		line-height: 1.58;
		letter-spacing: -.004em;
	}
}

.container-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.mobile-menu {
	display: none;
	visibility: hidden;

	@include mobile-only {
		display: block;
		visibility: visible;
		height: 15%;
		width: 100%;
		background-color: $button-warning-color;
	}

	* {
		margin: 0;
	}
}

.menu-wrapper {
	width: 10%;
	height: 100%;
	background-color: $base-color;
	display: inline-block;
	float: left;
	order: 1;

	@include mobile-only {
		display: none;
		z-index: 1;
		height: 100%;
		width: 20%;
	}
}

.content-jump-wrapper {
	width: 30%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $contrast-color;
	display: inline-block;
	float: left;
	order: 2;


	@include mobile-only {
		display: none;
		z-index: 10;
		height: 100%;
		width: 70%;
	}

	.navigation-div {
		display: inline-block;
		width: 100%;
		height: 15%;
		box-shadow: 0px 0px 0px grey;
		transition: all 200ms ease-in;
		position: relative;
		z-index: 0;
		@include ultra-screen {
			font-size: 125%;
		}

		.navigation-header {
			text-align: center;
			font-size: 150%;
			text-decoration: underline;
			color: white;
			width: 100%;

			h3 {
				margin: 0;
			}
		}

		.navigation-body {
			margin: 16px 24px 8px 8px;
			font-size: 75%;

			@include computer-visitor-normal-screen {
				font-size: 67%;
			}

			@include tablet {
				font-size: 50%;
			}
		}
	}

	.navigation-div:hover {
		z-index: 10;
		background-color: $contrast-accent-color;
		transition: all 200ms ease-in;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
		cursor: pointer;

	}
}

.current-content-wrapper {
	order: 3;
	width: 100%;
	height: 100%;
	background-color: $background-color;
	display: inline-block;
	float: left;

	@include no-mobile {
		overflow-y: scroll;	
	}

	@include mobile-only {
		font-size: 18px;
		line-height: 1.58;
		letter-spacing: -.004em;	
		position: absolute;
		margin-top: 10%;
		z-index: 0;
		height: 90%;
		width: 100%;
	}

	.content-header {
		margin: $margin-desktop;
		padding: $padding-desktop;
		width: 90%;
		background-color: $button-warning-color;
		border-radius: 16px;
		text-align: center;
		color: $background-color;

		@include mobile-only {
			margin: 0;
			padding: $padding-mobile;
			border-radius: initial;
			width: 98%;
		}
	}

	.content-body {
		margin: $margin-desktop;
		width: 100% - 2 * $margin-desktop;
		@include mobile-only {
			overflow-y: scroll;
		}

		.content-alinea {
			margin: $margin-desktop 0;

			.content-alinea-header {
				color: $button-warning-color;
				font-family: DauphinPlain;

				h1 {
					margin: 0 !important;
				}
			}

			.content-inline-right-image {
				width: 20%;
				margin: $margin-desktop;
				float: right;
			}

			.content-inline-left-image {
				width: 20%;
				margin: $margin-desktop;
				float: left;
			}
		}
	}
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    z-index: 10;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    z-index: 10;

}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
    z-index: 10;

}
::-webkit-scrollbar-corner {
    background-color: transparent;
    z-index: 10;

}
