@import 'media';
@import 'colours';

$font-stack: Helvetica, sans-serif;

body, html {
	font: 100% $font-stack;
	width: 100%;
	height: 100%;
	margin: 0;

	@include mobile-small {
		background-color: $base-color;
	}

	@include mobile-medium {
		background-color: $contrast-color;
	}

	@include mobile-large {
		background-color: $button-accent-color;
	}

	@include tablet {
		background-color: $button-warning-color;
	}

	@include laptop {
		background-color: $base-color
	}

	@include desktop {
		background-color: $background-color;
	}

	@include ultra-screen {
		background-color: $contrast-color;
	}
}

.container-wrapper {
	width: 100%;
	height: 100%;
}

.menu-wrapper {
	width: 10%;
	height: 100%;
	background-color: $base-color;
	display: inline-block;

	@include mobile-only {
		height: 10%;
		width: 100%;
	}
}


