body, html {
  font: 100% Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0; }

.container-wrapper {
  width: 100%;
  height: 100%;
  display: flex; }

.menu-wrapper {
  width: 10%;
  height: 100%;
  background-color: #2B4570;
  display: inline-block;
  float: left;
  order: 1; }
  @media (max-width: 767px) {
    .menu-wrapper {
      display: none;
      z-index: 1;
      height: 100%;
      width: 20%; } }

.content-jump-wrapper {
  width: 30%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #2C8C99;
  display: inline-block;
  float: left;
  order: 2; }
  @media (max-width: 767px) {
    .content-jump-wrapper {
      display: none;
      z-index: 10;
      height: 100%;
      width: 70%; } }
  .content-jump-wrapper .navigation-div {
    display: inline-block;
    width: 100%;
    height: 15%;
    background-color: #A2AEBB;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #eee; }
  .content-jump-wrapper .navigation-div:hover {
    background-color: #eee;
    transition: all 200ms ease-in;
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
    transform: scaleY(1.5); }
    .content-jump-wrapper .navigation-div:hover * {
      transform: scaleY(0.66);
      text-align: center;
      margin: 16px; }

.content-jump-wrapper:hover {
  overflow-y: scroll; }

.current-content-wrapper {
  order: 3;
  width: 100%;
  height: 100%;
  background-color: #FDFFFF;
  display: inline-block;
  float: left; }
  @media (max-width: 767px) {
    .current-content-wrapper {
      position: absolute;
      margin-top: 10%;
      z-index: 0;
      height: 90%;
      width: 100%; } }
  .current-content-wrapper .content-header {
    margin: 2.5%;
    padding: 2.5%;
    width: 90%;
    background-color: #931621;
    border-radius: 16px;
    text-align: center;
    color: #FDFFFF; }
    @media (max-width: 767px) {
      .current-content-wrapper .content-header {
        margin: 0;
        padding: 1%;
        border-radius: initial;
        width: 98%; } }
  .current-content-wrapper .content-body {
    margin: 2.5%;
    width: 95%; }
    .current-content-wrapper .content-body .content-alinea {
      margin: 2.5% 0; }
      .current-content-wrapper .content-body .content-alinea .content-alinea-header {
        color: #931621;
        font-family: DauphinPlain; }
        .current-content-wrapper .content-body .content-alinea .content-alinea-header h1 {
          margin: 0 !important; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0.1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
