body, html {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em; }
  @media (max-width: 767px) {
    body, html {
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -.004em; } }

.container-wrapper {
  width: 100%;
  height: 100%;
  display: flex; }

.mobile-menu {
  display: none;
  visibility: hidden; }
  @media (max-width: 767px) {
    .mobile-menu {
      display: block;
      visibility: visible;
      height: 15%;
      width: 100%;
      background-color: #931621; } }
  .mobile-menu * {
    margin: 0; }

.menu-wrapper {
  width: 10%;
  height: 100%;
  background-color: #2B4570;
  display: inline-block;
  float: left;
  order: 1; }
  @media (max-width: 767px) {
    .menu-wrapper {
      display: none;
      z-index: 1;
      height: 100%;
      width: 20%; } }

.content-jump-wrapper {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #2C8C99;
  display: inline-block;
  float: left;
  order: 2; }
  @media (max-width: 767px) {
    .content-jump-wrapper {
      display: none;
      z-index: 10;
      height: 100%;
      width: 70%; } }
  .content-jump-wrapper .navigation-div {
    display: inline-block;
    width: 100%;
    height: 15%;
    box-shadow: 0px 0px 0px grey;
    transition: all 200ms ease-in;
    position: relative;
    z-index: 0; }
    @media (min-width: 2560px) {
      .content-jump-wrapper .navigation-div {
        font-size: 125%; } }
    .content-jump-wrapper .navigation-div .navigation-header {
      text-align: center;
      font-size: 150%;
      text-decoration: underline;
      color: white;
      width: 100%; }
      .content-jump-wrapper .navigation-div .navigation-header h3 {
        margin: 0; }
    .content-jump-wrapper .navigation-div .navigation-body {
      margin: 16px 24px 8px 8px;
      font-size: 75%; }
      @media (min-width: 1024px) and (max-width: 2559px) {
        .content-jump-wrapper .navigation-div .navigation-body {
          font-size: 67%; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .content-jump-wrapper .navigation-div .navigation-body {
          font-size: 50%; } }
  .content-jump-wrapper .navigation-div:hover {
    z-index: 10;
    background-color: #17555E;
    transition: all 200ms ease-in;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    cursor: pointer; }

.current-content-wrapper {
  order: 3;
  width: 100%;
  height: 100%;
  background-color: #FDFFFF;
  display: inline-block;
  float: left; }
  @media (min-width: 768px) {
    .current-content-wrapper {
      overflow-y: scroll; } }
  @media (max-width: 767px) {
    .current-content-wrapper {
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -.004em;
      position: absolute;
      margin-top: 10%;
      z-index: 0;
      height: 90%;
      width: 100%; } }
  .current-content-wrapper .content-header {
    margin: 2.5%;
    padding: 2.5%;
    width: 90%;
    background-color: #931621;
    border-radius: 16px;
    text-align: center;
    color: #FDFFFF; }
    @media (max-width: 767px) {
      .current-content-wrapper .content-header {
        margin: 0;
        padding: 1%;
        border-radius: initial;
        width: 98%; } }
  .current-content-wrapper .content-body {
    margin: 2.5%;
    width: 95%; }
    @media (max-width: 767px) {
      .current-content-wrapper .content-body {
        overflow-y: scroll; } }
    .current-content-wrapper .content-body .content-alinea {
      margin: 2.5% 0; }
      .current-content-wrapper .content-body .content-alinea .content-alinea-header {
        color: #931621;
        font-family: DauphinPlain; }
        .current-content-wrapper .content-body .content-alinea .content-alinea-header h1 {
          margin: 0 !important; }
      .current-content-wrapper .content-body .content-alinea .content-inline-right-image {
        width: 20%;
        margin: 2.5%;
        float: right; }
      .current-content-wrapper .content-body .content-alinea .content-inline-left-image {
        width: 20%;
        margin: 2.5%;
        float: left; }

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
  z-index: 10; }

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  z-index: 10; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
  z-index: 10; }

::-webkit-scrollbar-corner {
  background-color: transparent;
  z-index: 10; }
