<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Curriculum Vitea</title>
		<link rel="stylesheet" type="text/css" href="/css/framework.css">
		<link rel="stylesheet" type="text/css" href="/css/standards.css">
	</head>
	<body>
		<div class="container-wrapper">
			<div class="mobile-menu">
				<p>Test</p>
			</div>
			<div class="menu-wrapper">
				<div class="menu-link-wrapper">
					<p>Test</p>
				</div>
				<div class="menu-link-wrapper">
					<p>Test</p>
				</div>
				<div class="menu-link-wrapper">
					<p>Test</p>
				</div>
			</div>
			<div class="content-jump-wrapper">
				<div class="navigation-div">
					<div class="navigation-header">
						<h3>HTML</h3>
						<div class="underline-50"></div>
					</div>
					<div class="navigation-body">
						<p>This is a little descirption of a possible description of my navigation</p>
					</div>
				</div>
				<div class="navigation-div">
					<div class="navigation-header">
						<h3>Python</h3>
						<div class="underline-50"></div>
					</div>
					<div class="navigation-body">
						<p>This is a little descirption of a possible description of my navigation</p>
					</div>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
				<div class="navigation-div">
					<p>Test</p>
				</div>
			</div>
			<div class="current-content-wrapper">
				<div class="content-header">
					<h1>Test header</h1>
					<h4>With test subscript.</h4>
				</div>
				<div class="content-body">
					<div class="content-alinea">
						<div class="content-alinea-header">
							<h1>Wat is lorum ipsum</h1>
						</div>
						<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.</p>
					</div>
					<div class="content-alinea">
						<div class="content-alinea-header">
							<h1>Waar kan ik het vinden?</h1>
						</div>
						<p>Er zijn vele variaties van passages van Lorem Ipsum beschikbaar maar het merendeel heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde humor of willekeurig gekozen woorden die nog niet half geloofwaardig ogen. Als u een passage uit Lorum Ipsum gaat gebruiken dient u zich ervan te verzekeren dat er niets beschamends midden in de tekst verborgen zit. Alle Lorum Ipsum generators op Internet hebben de eigenschap voorgedefinieerde stukken te herhalen waar nodig zodat dit de eerste echte generator is op internet. Het gebruikt een woordenlijst van 200 latijnse woorden gecombineerd met een handvol zinsstructuur modellen om een Lorum Ipsum te genereren die redelijk overkomt. De gegenereerde Lorum Ipsum is daardoor altijd vrij van herhaling, ingevoegde humor of ongebruikelijke woorden etc.</p>
					</div>
					<div class="content-alinea">
						<div class="content-alinea-header">
							<h1>Waar kan ik het vinden?</h1>
						</div>
						<p>Er zijn vele variaties van passages van Lorem Ipsum beschikbaar maar het merendeel heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde humor of willekeurig gekozen woorden die nog niet half geloofwaardig ogen. Als u een passage uit Lorum Ipsum gaat gebruiken dient u zich ervan te verzekeren dat er niets beschamends midden in de tekst verborgen zit. Alle Lorum Ipsum generators op Internet hebben de eigenschap voorgedefinieerde stukken te herhalen waar nodig zodat dit de eerste echte generator is op internet. Het gebruikt een woordenlijst van 200 latijnse woorden gecombineerd met een handvol zinsstructuur modellen om een Lorum Ipsum te genereren die redelijk overkomt. De gegenereerde Lorum Ipsum is daardoor altijd vrij van herhaling, ingevoegde humor of ongebruikelijke woorden etc.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>